:root{
    --color-main1: #16191e;
    --color-main2:#6d7077;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
}

/* title */
.app{
    max-width: 100%;
    width: 100%;
}
.app-top{
    margin: 1% 5% 0 5%;
}

.center-title{
    display: flex;
    justify-content: space-between;
}
.title-right{
    display: flex;
}

.title-span{
    color: #16191e;
    font-size: 1.2rem;
    font-weight: 700;
}

.content{
    text-decoration: none;
    color: #6d7077;
    margin: 5px;
}

.content:hover{
    color: #cd6480;
}

.content-about{
    color: #cd6480;
    font-weight: 600;
}

/* centertop */
.anh12{
    position: relative;
}

.content1{
    font-size: 2rem;
    font-weight: 700;
    color: #16191e;
    margin-right: 175px;
}

.img12{
    position: absolute;
    left: 100px;
    top: 270px;
    left: -92px;
}

.content3{
    flex-direction: column;
    text-decoration: none;
    color: #d3899f;
}

.content2{
    margin-right: 198px;
    color: var(--color-main2);
}

.center-left{
    display: flex;
}

.center-left-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.center-left{
    margin-top: 35px;
}

.more{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content3:hover{
    color: blue;
}

.more-right{
    margin-left: 5px;
}
/* 
topcenter2 */

.top-center2{
    margin-top: 80px;
    display: flex;
}

.center2-left{
    width: 50%;
}

.center2-right{
    width: 50%;
}

.right-graphic{
    display: flex;
    height: 48%;
    border-bottom: 1.3px solid #999;
    margin-left: 20px;
}

.content1-span{
    font-size: 0.9rem;
    color: var(--color-main2);
}

.graphic-content2{
    margin: 2% 0;
}

.content2-span{
    font-size: 1.1rem;
    font-weight: 600;
}

.content3-span{
    font-size: 0.95rem;
    color: var(--color-main2);
}

.graphic-content{
    padding-left: 20px;
}

.duis{
    color: var(--color-main2);
    font-weight: 500;
    font-size: 1rem;
}

/* topcenter3 */
.top-center3{
    margin-top: 166px;
}

.center3-img{
    width: 48%;
        max-width: 100%;
        height: auto;
}

.center3-img1{
    width: 98%;
    max-width: 100%;
    height: auto;
}

.center3-img2{
    width: 98%;
    max-width: 100%;
    height: auto;
    padding-top: 6%;
}

.center3-top{
    display: flex;
    align-items: center;
}

.center3-left-content{
    width: 50%;
}

.center3-right-content{
    width: 50%;
}

.center3-bottom{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
}
.right-img{
  font-size: 30px;
  text-align: center;
}

.grid{
    grid-row: 1/3;
}
/* footer */

.app-footer{
    background-color: #1d2228;
    height: 360px;
    display: flex;
    margin-top: 100px;
}

.footer-left{
    width: 40%;

}

.say{
    color: white;
    padding-left: 70px;
    padding-top: 40px;
}

.footer-left2{
    padding-left: 70px;
}

.footer-img{
    margin: 20% 3% 0 3%;
}

.footer-left3{
    padding-left: 46px;
}

.footer-ul{
    display: flex;
    color: white;
    font-size: 0.8rem;
}

.footer-li{
    margin: 0 8px;
}

.email{
    color: white;
}

.fieldset{
    color: white;
    margin-bottom: 20px;
}

.message{
    color: white;
}

.footer-right{
    width: 46%;
    padding-top: 50px;
    padding-left: 30px;
}

.fieldset{
    border-radius: 3px;
    border: 1px solid white;
}

.fieldset2{
    height: 40%;
}

.footer-input{
    color: white;
    background-color: #1d2228;
    border: none;
    width: 80%;
    outline: none;
}

.submit-footer{
    width: 20%;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: #e34d73;
    color: white;
}

.submit-footer:hover{
    background-color: #6d7077;
    color: #8fb65b;
    cursor: pointer;
}

/* Reponsive */


@media (min-width:740px) and (max-width:1023px){
    .img12-reponsive{
        position: absolute;
        top: 57px;
        width: 50%;
        left: -38px;
    }
    
    .img13-reponsive{
        width: 97%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto ;
      ;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 30px;
        text-align: center;
      }
      .center3-img-reponsive1{
        width: 48%;
        max-width: 100%;
        height: auto;
      }
      .center3-img-reponsive2{
        width: 97%;
        max-width: 100%;
        height: auto;
      }
      .center3-img-reponsive3{
        width: 98%;
        max-width: 100%;
        height: auto;
      }
}

/* Mobile */
@media (max-width:766px) {
    .m-title-left{
        display: none;
    }
    .m-center-title{
        margin-top: 6%;
    }
    .m-center-left{
        display: block;
    }
    .m-center-left-left{
        max-width: 100%;
        width: 100%;
    }
    .m-content{
        max-width: 100%;
        width: 100%;
    }
    .m-13{
        max-width: 100%;
        width: 100%;
    }
    .m-12{
        display: none;
    }
    .m-more{
        margin: auto;
    }

    .m-top-center2{
        display: block;
    }

    .m-center2-left{
        max-width: 100%;
        width: 100%;
        margin-top: -16%;
    }

    .m-left-content{
        margin-left: 26%;
    }   

    .m-left-content2{
        text-align: center;
    }

    .m-center2-right{
        max-width: 100%;
        width: 100%;
    }

    .m-top-center3{
        margin-top: 16%;
    }

    .m-center3-top{
        display: none;
    }

    .m-center3{
        display: flex;
    }

    .m-31{
        margin-right: 1px;
    }
  }