:root{
    --color-main1: #16191e;
    --color-main2:#6d7077;
}

body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
}

    #container{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper{
        margin: 2.5% 5% 0 5%;
    }
    
    #top{
        width: 100%;
        height: 354px;
        display: flex;
        flex-direction: column;
        /* background-color: burlywood; */
    }

    .top-title-content0{
        color: var(--color-main1);
    }

    .top_title-content{
        padding-right: 14%;
        color: var(--color-main2);
    }

    .top_option-name{
        color: #16191e;
        font-size: 1.8rem;
        font-weight: 700;
    }

    .top_option-button{
        color: var(--color-main2);
        font-size: 0.9rem;
    }

    .top_option-button:hover{
        color: #d3899f;
    }

    #top_option{
       display: flex;
       align-items: center;
       justify-content: space-between;
    
    }

    #top_title{
        display: flex;
        width: 100%;
        margin-top: 2%;
    }
    /* #top_option div:nth-child(1){
        width: 152px;
        margin-right: 500px;
        font-size: 25px;
        font-weight: 500;
    } */
    /* #top #right{
        width: 297px;
        display: flex;
        justify-content: space-between;
    } */

    #right:hover{
        color: #d3899f;
    }

    #top #right button{
        font-weight: 100;
        background-color:rgb(255,255,255) ;
        border: none;
        cursor: pointer;
    }
    #top #right button:nth-child(3){
        color: rgb(238,150,172);
    }
    #top_title > div > div:nth-child(1){
        /* width: 828px; */
        margin-right: 560px;
        margin-top: 70px;
        height: 74px;
        font-weight: bold;
        font-size: 36px;
    }
    #top_title > div > div:nth-child(2){
        /* width: 828px; */
        height: 60px;
        font-size: 14px;
        font-weight: 100;
    }
    #top_title img{
        margin-top: 20px;
    }
    /* #top > div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    } */
    #top:nth-child(1){
        font-size: 30;
    
    }
    #item{
        max-width: 100%;
        width: 100%;
        background-color: #EEEEEE;
        display: flex;
    }
    .item-img{
        width: 70%;
    }

    .content-item1{
        margin-top: 2%;
        color: var(--color-main2);
        display: block;
    }

    .item-content{
        width: 30%;
        padding-top: 14%;
        padding-left: 3%;
    }


    .container {
        display: flex;
    }

    .item {
        flex-basis: 33.33%;
        padding:20px 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .item img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .thep {
        margin-top: 10px;
        text-align: left;
        margin-bottom: 5px;
    }

    .thep2{
        color: var(--color-main2);
    }
   

   

    .center-container1-container{
        padding: 0.1125rem;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        height: auto;
    }


   #bottom{
    width: auto;
    height: 421px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(29,33,40);
}
#bottom div div:nth-child(1){
    width: 466px;
    height: 148px;
    color: aliceblue;
    font-size: 54px;
    font-family: 'Gill Sans', 'Gill Sans MT','Calibri', 'Trebuchet MS', sans-serif;
}
#bottom div:nth-child(1),#bottom div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.email{
    width:588px ;
    height:74px ;
    border: none;
}
.message{
    width:588px ;
    height:125px ;
    border: none;
}
fieldset{
    border-radius: 5px;
}
fieldset:nth-child(2){
    margin-top: 20px;
}
legend{
    color: aliceblue;
    font-weight: 800;
}
::placeholder{
    color:rgb(177,182,191) ;
    font-size: 20px;
}
.message::placeholder{
    position: absolute;
    top: 0.2em;
}

#bottom div div div img{
    height: 24px;
    width: 24px;
    cursor: pointer;
}
#bottom #connect{
    margin-top: 160px;
    margin-bottom: 10px;
    height: 24px;
    width: 200px;
    display: flex;
    flex-direction: row;
}
input:focus {
    outline: none; 
}
input[type="text"]:focus {
    color:rgb(177,182,191);
}
input[type="submit"]{
    margin-top: 15px;
    width: 173px;
    height: 52px;
    cursor: pointer;
    color:aliceblue;
    background-color: rgb(227,77,115);
    font-size: 20px;
}
   /* @media screen and(max-width:1000px) {
      
   }  */