#body{
    overflow: hidden;
}
#wrapper{
    width: 100%;
    text-align: center;
    max-width: 1440px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    width: 95%;
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
#top > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#top_option{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#top_option div:nth-child(1){
    width: auto;
    height: auto;
    font-size: 2.5vw;
    font-weight: 500;
}
#top #right{
    width: 18rem;
    display: flex;
    justify-content: space-between;
}
#top #right button{
    width: auto;
    height: auto;
    font-weight: 100;
    background-color:rgb(255,255,255) ;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
#top #right button:nth-child(4){
    color: rgb(238,150,172);
}
#top_title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}
#top_title div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5vw;
    height: auto;
}
form{
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 20%;
    flex-direction: column;
    justify-content: space-around;
}
input[type="submit"]{
    width: 9em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size:1.5vw ;
    color: aliceblue;
    background-color: rgb(227,77,115);
    margin-top: 3%;
    cursor: pointer;
}
legend{
    font-size: 2vw;
    text-align: left;
}
#legend2{
    margin-top: 3%;
}
.email{
    height: 3.5vw;
    width: auto;
    font-size:1.5vw ;
}
.message{
    height: 8.5vw;
    width: auto;
    font-size:1.5vw ;
}
.message::placeholder{
    position: absolute;
    top: 0.2em;
}
::placeholder{
    opacity: 0.5;
}
#top_title > div > div:nth-child(1){
    height: auto;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    width: 100%;
}
#top_title > div > div:nth-child(2){
    font-size: 14px;
    font-weight: 100;
}
#top_title img:nth-child(1){
    width: 12%;
    height: auto;
    position: absolute;
    margin-left: -5%;
    margin-top: 21%;
}
#top_title img:nth-child(2){
    width: 35vw;
    height: auto;
    border-top-left-radius: 50%;
    border-top-right-radius:50% ;
}
#bottom{
    width: 100%;
    height: auto;
    background-color:rgb(29,33,40);
    color: azure;
}
#bottom > div:nth-child(1){
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
#boder{
    height: 4rem;
    border: 1px solid rgb(61,67,78);
    opacity: 0.5;
}
#connect{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#connect > div {
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#connect > div div {
    width: 7rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
#bottom_right{
    margin-top: 0.5rem;
    text-align: left;
}
.skype{
    margin-top: 0.5rem;
}

