 body{
    /* overflow: hidden; */
    /* width: 1440px; */
 }
 /* #wrapper{
    width: 1440px;
    width: 100%;
    max-width: 1440px;
    height:2821px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}  */
#container{
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top{
    width: 100%;
    height: 354px;
    display: flex;
    flex-direction: column;
    /* background-color: burlywood; */
}
#top_option{
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#top_option div:nth-child(1){
    width: 152px;
    margin-right: 500px;
    font-size: 25px;
    font-weight: 500;
}
#top #right{
    width: 297px;
    display: flex;
    justify-content: space-between;
}
#top #right button{
    font-weight: 100;
    background-color:rgb(255,255,255) ;
    border: none;
    cursor: pointer;
}
#top #right button:nth-child(1){
    color: rgb(238,150,172);
}
#top_title > div > div:nth-child(1){
    /* width: 828px; */
    margin-right: 560px;
    margin-top: 70px;
    height: 74px;
    font-weight: bold;
    font-size: 36px;
}
#top_title > div > div:nth-child(2){
    /* width: 828px; */
    height: 60px;
    font-size: 14px;
    font-weight: 100;
}
#top_title img{
    margin-top: 20px;
}
#top > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#top:nth-child(1){
    font-size: 30;

}
#center{
    width: 100%;
    height: 2046px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#item1,#item3{
    width: 1196px;
    height: 407px;
    background-color:rgb(246,251,240);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#item2,#item4{
    width: 1196px;
    height: 407px;
    background-color: rgb(253,242,244);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#item2 div button,#item4 div button{
    width:154px ;
    height: 44px;
    cursor: pointer;
    text-align: left;
    border: none;
    background-color:rgb(253,242,244) ;
}
#item1 div button,#item3 div button{
    width:154px ;
    height: 44px;
    cursor: pointer;
    text-align: left;
    border: none;
    background-color:rgb(246,251,240) ;
}
#center div button img{
    position: absolute;
    /* margin-top: 10px; */
    margin-left: 10px;
}
#center > div > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
#center > div > div:nth-child(1) div{
    margin-bottom: 10px;
}
.text1 > div:nth-child(1){
    color: rgb(157,199,92);
}
.text2 > div:nth-child(1){
    color: rgb(229,91,126);
}
.text1 > div:nth-child(2),
    .text2 > div:nth-child(2){
    font-weight: bold;
    font-size: 30px;
}
#item1 .image1  img,
#item3 .image1  img{
    width: 178px;
    height: 307px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
}
#item2  .image2  img,
#item4  .image2  img{
    width: 286px;
    height: 340px;
    margin-left: 20px;
    margin-right: 20px;
}
#item1 .image1, #item3 .image1{
    display: flex;
    align-items: center;
}
#item2 .image2, #item4 .image2{
    display: flex;
    align-items: end;
}
#item1 .image1 > img:nth-child(2),#item3 .image1>img:nth-child(2){
    align-self: flex-start;
    margin-top: 25px;
}
#item2 .image2 > img:nth-child(2),#item4 .image2>img:nth-child(2){
    align-self: flex-start;
}
#view_more{
    border: 2px solid rgb(227,77,115);;
    width: 200px;
    height: 52px;
    color: rgb(227,77,115);
    cursor: pointer;
    margin-bottom: 20px;
}
#bottom{
    width: auto;
    height: 421px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(29,33,40);
}
#bottom div div:nth-child(1){
    width: 466px;
    height: 148px;
    color: aliceblue;
    font-size: 54px;
    font-family: 'Gill Sans', 'Gill Sans MT','Calibri', 'Trebuchet MS', sans-serif;
}
#bottom div:nth-child(1),#bottom div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.email{
    width:588px ;
    height:74px ;
    border: none;
}
.message{
    width:588px ;
    height:125px ;
    border: none;
}
fieldset{
    border-radius: 5px;
}
fieldset:nth-child(2){
    margin-top: 20px;
}
legend{
    color: aliceblue;
    font-weight: 800;
}
::placeholder{
    color:rgb(177,182,191) ;
    font-size: 20px;
}
.message::placeholder{
    position: absolute;
    top: 0.2em;
}

#bottom div div div img{
    height: 24px;
    width: 24px;
    cursor: pointer;
}
#bottom #connect{
    margin-top: 160px;
    margin-bottom: 10px;
    height: 24px;
    width: 200px;
    display: flex;
    flex-direction: row;
}
input:focus {
    outline: none; 
}
input[type="text"]:focus {
    color:rgb(177,182,191);
}
input[type="submit"]{
    margin-top: 15px;
    width: 173px;
    height: 52px;
    cursor: pointer;
    color:aliceblue;
    background-color: rgb(227,77,115);
    font-size: 20px;
}
/* @media screen and(max-width:1000px) {
    #top{
        background-color: red;
    }
}  */